# School District Analysis - Pandas Challenge
   > Perform data analysis of district-wide standardized test results of a city's schools, and aggregate the data to showcase obvious trends in school performance which can be useful in making strategic decisions regarding future school budgets and priorities
---

In [ ]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load
school_data = "/Users/anishachaudhari/data_science/Challenges/PyCitySchools/Resources/schools_complete.csv"
student_data = "/Users/anishachaudhari/data_science/Challenges/PyCitySchools/Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_df = pd.read_csv(school_data)
student_df = pd.read_csv(student_data)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_df, school_df, how="left", on=["school_name", "school_name"])
school_data_complete.head()

 ---
## District Summary

In [ ]:
# Count number of unique schools in the DataFrame
total_schools = school_data_complete["school_name"].nunique()


# Display the summary
total_schools

In [ ]:
# Count number of students 
total_students = school_data_complete["Student ID"].nunique()


# Display the summary
total_students

In [ ]:
# Make a list of all the unique budgets
budget_list = school_data_complete["budget"].unique()


# Calculate total budget
total_budget = budget_list.sum()


# Display total budget
total_budget

In [ ]:
# Average math score
avg_math_score = school_data_complete["math_score"].mean()

# Display average math score
avg_math_score

In [ ]:
# Average reading score
avg_reading_score = school_data_complete["reading_score"].mean()

# Display average reading score
avg_reading_score

In [ ]:
# Calculate the percentage of students with a passing math score (70 or greater)
stu_pass_math = len(school_data_complete[school_data_complete["math_score"]>=70])
percent_pass_math = (stu_pass_math/total_students)*100
#percent_pass_format = "{:,.2f} %".format(percent_pass_calc)
#percent_pass_math = pd.DataFrame({"% Students Passing Math":[percent_pass_format]})
percent_pass_math

In [ ]:
# Calculate the percentage of students with a passing reading score (70 or greater)
stu_pass_read = len(school_data_complete[school_data_complete["reading_score"]>=70])
percent_pass_read = (stu_pass_read/total_students)*100
#percent_pr_format = "{:,.2f} %".format(percent_pr_calc)
#percent_pass_read = pd.DataFrame({"% Students Passing Reading":[percent_pr_format]})
percent_pass_read

In [ ]:
# Calculate total number of students who passed both math and reading
total_passed_both = school_data_complete[(school_data_complete["math_score"] >=70) 
                                         & (school_data_complete["reading_score"] >=70)]
pass_both_id = total_passed_both["Student ID"].count()
pass_percentage_both = (pass_both_id / total_students)*100
pass_percentage_both

In [ ]:
# Create dataframe to hold the above results
district_summary_df = [{
        "Total Schools":total_schools, 
        "Total Students": total_students, 
        "Total Budget": total_budget,
        "Average Math Score": avg_math_score, 
        "Average Reading Score": avg_reading_score,
        "% Passing Math": percent_pass_math,
        "% Passing Reading": percent_pass_read,
        "% Overall Passing": pass_percentage_both}]
district_summary_df = pd.DataFrame(district_summary_df)
district_summary_df

In [ ]:
# Optional: give the displayed data cleaner formatting

district_summary_df["Total Budget"] = district_summary_df["Total Budget"].map("$ {:,}".format)
district_summary_df["Average Math Score"] = district_summary_df["Average Math Score"].map("{:,.2f}".format)
district_summary_df["Average Reading Score"] = district_summary_df["Average Reading Score"].map("{:,.2f}".format)
district_summary_df["% Passing Math"] = district_summary_df["% Passing Math"].map("{:,.2f} %".format)
district_summary_df["% Passing Reading"] = district_summary_df["% Passing Reading"].map("{:,.2f} %".format)
district_summary_df["% Overall Passing"] = district_summary_df["% Overall Passing"].map("{:,.2f} %".format)

# Display cleaner formatting
district_summary_df

---
## School Summary
Create an overview table that summarizes key metrics about each school, including:

   > School Name
   
   > School Type
   
   > Total Students
   
   > Total School Budget
   
   > Per Student Budget
   
   > Average Math Score
   
   > Average Reading Score
   
   > % Passing Math
   
   > % Passing Reading
   
   > % Overall Passing (The percentage of students that passed math and reading.)
   
   > Create a dataframe to hold the above results

In [ ]:
# School name
school_name_df = school_data_complete.groupby(["school_name"])

# School type
school_type = school_name_df["type"].max()

# total student count from each school
student_count = school_name_df["Student ID"].nunique()
 
# total budget each school
total_school_budget = school_name_df["budget"].max()

# per student budget
per_stu_budget = total_school_budget / student_count

# average math score
avg_math_score = school_name_df["math_score"].mean()

# average reading score
avg_reading_score = school_name_df["reading_score"].mean()

# % passing math
passed_math = school_data_complete[school_data_complete["math_score"] >= 70].groupby("school_name")["Student ID"].count()
percent_passed_math = (passed_math/student_count)*100

# % passing reading
passed_reading = school_data_complete[school_data_complete["reading_score"] >= 70].groupby("school_name")["Student ID"].count()
percent_passed_reading = (passed_reading/student_count)*100

# % overall passing / % of students passed both math and reading
passed_both = school_data_complete[(school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)].groupby("school_name")["Student ID"].nunique()
percent_passed_both = (passed_both/student_count)*100

# create dataframe to hold the above results
school_summary_df = pd.DataFrame({
    "School Type":school_type,
    "Total Students":student_count,
    "Total School Budget":total_school_budget,
    "Per Student Budget":per_stu_budget,
    "Average Math Score":avg_math_score,
    "Average Reading Score":avg_reading_score,
    "% Passing Math":percent_passed_math,
    "% Passing Reading":percent_passed_reading,
    "% Overall Passing":percent_passed_both

})

# use map to format all the columns
school_summary_df = school_summary_df
school_summary_df["Total School Budget"] = school_summary_df["Total School Budget"].map("$ {:,}".format)
school_summary_df["Per Student Budget"] = school_summary_df["Per Student Budget"].map("$ {:,.0f}".format)
school_summary_df["Average Math Score"] = school_summary_df["Average Math Score"].map("{:,.2f}".format)
school_summary_df["Average Reading Score"] = school_summary_df["Average Reading Score"].map("{:,.2f}".format)
school_summary_df["% Passing Math"] = school_summary_df["% Passing Math"].map("{:.2f} %".format)
school_summary_df["% Passing Reading"] = school_summary_df["% Passing Reading"].map("{:.2f} %".format)
school_summary_df["% Overall Passing"] = school_summary_df["% Overall Passing"].map("{:.2f} %".format)

school_summary_df.head()

 ---
## Top Performing Schools (By % Overall Passing)
   > Sort and display the top five performing schools by % overall passing

In [ ]:
top_perform_schools = school_summary_df.sort_values("% Overall Passing", ascending=False)
top_perform_schools[:5]

---
## Bottom Performing Schools (By % Overall Passing)
   > Sort and display the five worst-performing schools by % overall passing

In [ ]:
bottom_perform_schools = school_summary_df.sort_values("% Overall Passing", ascending=True)
bottom_perform_schools[:5]

---
## Math Scores by Grade
   > Create a table that lists the average math score for students of each grade level (9th, 10th, 11th, 12th) at each school.

   > Create a pandas series for each grade. Hint: use a conditional statement.

   > Group each series by school

   > Combine the series into a dataframe

   > Optional: give the displayed data cleaner formatting

In [ ]:
# Create a table that lists the average math score for students of each grade level (9th, 10th, 11th, 12th) at each school
math_grade_school = school_data_complete[["school_name", "grade", "math_score"]]

In [ ]:
# Create a pandas series for each grade. Hint: use a conditional statement.
ninth = math_grade_school.loc[math_grade_school["grade"] == "9th"]
tenth = math_grade_school.loc[math_grade_school["grade"] == "10th"]
eleventh = math_grade_school.loc[math_grade_school["grade"] == "11th"]
twelfth = math_grade_school.loc[math_grade_school["grade"] == "12th"]

In [ ]:
# Group each series by school
ninth_group = ninth.groupby(["school_name"])["math_score"].mean()
tenth_group = tenth.groupby(["school_name"])["math_score"].mean()
eleventh_group = eleventh.groupby(["school_name"])["math_score"].mean()
twelfth_group = twelfth.groupby(["school_name"])["math_score"].mean()

In [ ]:
# Combine the series into a dataframe
mgs_summary = pd.DataFrame({
    "9th Grade":ninth_group,
    "10th Grade":tenth_group,
    "11th Grade":eleventh_group,
    "12th Grade":twelfth_group})
mgs_summary.head()

In [ ]:
# Optional: give the displayed data cleaner formatting
mgs_summary["9th Grade"] = mgs_summary["9th Grade"].map("{:,.2f} %".format)
mgs_summary["10th Grade"] = mgs_summary["10th Grade"].map("{:,.2f} %".format)
mgs_summary["11th Grade"] = mgs_summary["11th Grade"].map("{:,.2f} %".format)
mgs_summary["12th Grade"] = mgs_summary["12th Grade"].map("{:,.2f} %".format)
mgs_summary

---
## Reading Scores by Grade
   > Create a table that lists the average reading score for students of each grade level (9th, 10th, 11th, 12th) at each school.

   > Create a pandas series for each grade. Hint: use a conditional statement.

   > Group each series by school

   > Combine the series into a dataframe

   > Optional: give the displayed data cleaner formatting

In [ ]:
# Create a table that lists the average reading score for students of each grade level (9th, 10th, 11th, 12th) at each school
read_grade_school = school_data_complete[["school_name", "grade", "reading_score"]]

In [ ]:
# Create a pandas series for each grade. Hint: use a conditional statement.
ninth = read_grade_school.loc[math_grade_school["grade"] == "9th"]
tenth = read_grade_school.loc[math_grade_school["grade"] == "10th"]
eleventh = read_grade_school.loc[math_grade_school["grade"] == "11th"]
twelfth = read_grade_school.loc[math_grade_school["grade"] == "12th"]

In [ ]:
# Group each series by school
ninth_group = ninth.groupby(["school_name"])["reading_score"].mean()
tenth_group = tenth.groupby(["school_name"])["reading_score"].mean()
eleventh_group = eleventh.groupby(["school_name"])["reading_score"].mean()
twelfth_group = twelfth.groupby(["school_name"])["reading_score"].mean()

In [ ]:
# Combine the series into a dataframe
rgs_summary = pd.DataFrame({
    "9th Grade":ninth_group,
    "10th Grade":tenth_group,
    "11th Grade":eleventh_group,
    "12th Grade":twelfth_group})
rgs_summary.head()

In [ ]:
# Optional: give the displayed data cleaner formatting
rgs_summary["9th Grade"] = rgs_summary["9th Grade"].map("{:,.2f} %".format)
rgs_summary["10th Grade"] = rgs_summary["10th Grade"].map("{:,.2f} %".format)
rgs_summary["11th Grade"] = rgs_summary["11th Grade"].map("{:,.2f} %".format)
rgs_summary["12th Grade"] = rgs_summary["12th Grade"].map("{:,.2f} %".format)
rgs_summary

---
## Scores by School Spending
   *Create a table that breaks down school performances based on average Spending Ranges (Per Student)*
   
   Use 4 reasonable bins to group school spending. Include in the table each of the following:

   > Average Math Score

   > Average Reading Score  

   > % Passing Math         

   > % Passing Reading         

   > Overall Passing Rate (Average of the above two)

In [ ]:
# create table with necessary columns from school summary
spending = school_summary_df[["Average Math Score", "Average Reading Score", "% Passing Math", "% Passing Reading", "% Overall Passing"]]
spending.head()

In [ ]:
# create 4 bins to group school spending
bins = [0, 585, 630, 645, 680]
grp_name = ["< $ 585", "$ 585 - 630", "$ 630 - 645", "$ 645 - 680"]

In [ ]:
# distribute them into the bins
spending["Spending Ranges (Per Student)"] = pd.cut(per_stu_budget, bins, labels = grp_name)

spending_math = spending.groupby(["Spending Ranges (Per Student)"]).mean()["Average Math Score"]
spending_read = spending.groupby(["Spending Ranges (Per Student)"]).mean()["Average Reading Score"]
spending_pass_math = spending.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Math"]
spending_pass_read = spending.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Reading"]
spending_overall_pass = spending.groupby(["Spending Ranges (Per Student)"]).mean()["% Overall Passing"]

spend_group_summary = pd.DataFrame({
    "Average Math Score":spending_math,
    "Average Reading Score":spending_read,
    "% Passing Math":spending_pass_math,
    "% Passing Reading":spending_pass_read,
    "% Overall Passing":spending_overall_pass
    
})
spend_group_summary

In [ ]:
# bonus formatting

---
## Scores by School Size
   *Perform the same operations as above, based on school size*

In [ ]:
# create table with necessary columns from school summary
#size = school_summary_df[["Average Math Score", "Average Reading Score", "% Passing Math", "% Passing Reading", "% Overall Passing"]]
#size.head()

In [ ]:
# create 3 bins to group school sizes
bins = [0,999,1999,5000]
size_name = ["Small(<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [ ]:
# distribute them into the bins
spending["School Size"] = pd.cut(total_schools, bins, labels = size_name)

size_math = spending.groupby(["Spending Ranges (Per Student)"]).mean()["Average Math Score"]
size_read = spending.groupby(["Spending Ranges (Per Student)"]).mean()["Average Reading Score"]
size_pass_math = spending.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Math"]
size_pass_read = spending.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Reading"]
size_overall_pass = spending.groupby(["Spending Ranges (Per Student)"]).mean()["% Overall Passing"]

size_group_summary = pd.DataFrame({
    "Average Math Score":size_math,
    "Average Reading Score":size_read,
    "% Passing Math":size_pass_math,
    "% Passing Reading":size_pass_read,
    "% Overall Passing":size_overall_pass
    
})
size_group_summary

In [ ]:
# bonus formatting

---
## Scores by School Type
   *Perform the same operations as above, based on school type*

In [ ]:
# create 2 bins to group school types
#bins = [0,999,1999,5000]
#size_name = ["Small(<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [ ]:
school_type = school_summary_df.groupby("School Type")

school_type_summary = school_type.mean()


school_type_summary[[
    "Average Math Score", 
    "Average Reading Score", 
    "% Passing Math", 
    "% Passing Reading", 
    "% Overall Passing"
]]
school_type_summary

In [ ]:
# bonus formatting

## Data Analysis Observations