In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load
school_data = "/Users/anishachaudhari/data_science/Challenges/PyCitySchools/Resources/schools_complete.csv"
student_data = "/Users/anishachaudhari/data_science/Challenges/PyCitySchools/Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_df = pd.read_csv(school_data)
student_df = pd.read_csv(student_data)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_df, school_df, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

# District Summary

In [2]:
# Count number of unique schools in the DataFrame
total_schools = school_data_complete["school_name"].nunique()


# Display the summary
total_schools

15

In [3]:
# Count number of students 
total_students = school_data_complete["Student ID"].nunique()


# Display the summary
total_students

39170

In [4]:
# Make a list of all the unique budgets
budget_list = school_data_complete["budget"].unique()


# Calculate total budget
total_budget = budget_list.sum()


# Display total budget
total_budget

24649428

In [5]:
# Average math score
avg_math_score = school_data_complete["math_score"].mean()

# Display average math score
avg_math_score

78.98537145774827

In [6]:
# Average reading score
avg_reading_score = school_data_complete["reading_score"].mean()

# Display average reading score
avg_reading_score

81.87784018381414

In [7]:
# Calculate the percentage of students with a passing math score (70 or greater)
stu_pass_math = len(school_data_complete[school_data_complete["math_score"]>=70])
percent_pass_math = (stu_pass_math/total_students)*100
#percent_pass_format = "{:,.2f} %".format(percent_pass_calc)
#percent_pass_math = pd.DataFrame({"% Students Passing Math":[percent_pass_format]})
percent_pass_math

74.9808526933878

In [8]:
# Calculate the percentage of students with a passing reading score (70 or greater)
stu_pass_read = len(school_data_complete[school_data_complete["reading_score"]>=70])
percent_pass_read = (stu_pass_read/total_students)*100
#percent_pr_format = "{:,.2f} %".format(percent_pr_calc)
#percent_pass_read = pd.DataFrame({"% Students Passing Reading":[percent_pr_format]})
percent_pass_read

85.80546336482001

In [9]:
# Calculate total number of students who passed both math and reading
total_passed_both = school_data_complete[(school_data_complete["math_score"] >=70) 
                                         & (school_data_complete["reading_score"] >=70)]
pass_both_id = total_passed_both["Student ID"].count()
pass_percentage_both = (pass_both_id / total_students)*100
pass_percentage_both

65.17232575950983

In [14]:
# Create dataframe to hold the above results
district_summary_df = [{
        "Total Schools":total_schools, 
        "Total Students": total_students, 
        "Total Budget": total_budget,
        "Average Math Score": avg_math_score, 
        "Average Reading Score": avg_reading_score,
        "% Passing Math": percent_pass_math,
        "% Passing Reading": percent_pass_read,
        "% Overall Passing": pass_percentage_both}]
district_summary_df = pd.DataFrame(district_summary)
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

In [19]:
# Optional: give the displayed data cleaner formatting

#district_summary_df["Total Budget"] = district_summary_df["Total Budget"].map("${:,}".format)
district_summary_df["Average Math Score"] = district_summary_df["Average Math Score"].map("{:,.2f}".format)
district_summary_df["Average Reading Score"] = district_summary_df["Average Reading Score"].map("{:,.2f}".format)
district_summary_df["% Passing Math"] = district_summary_df["% Passing Math"].map("{:,.2f}%".format)
district_summary_df["% Passing Reading"] = district_summary_df["% Passing Reading"].map("{:,.2f}%".format)
district_summary_df["% Overall Passing"] = district_summary_df["% Overall Passing"].map("{:,.2f}%".format)

# Display cleaner formatting
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,"$24,649,428",78.99,81.88,74.98%,85.81%,65.17%

# SCHOOL SUMMARY

In [69]:
# School name
school_name_df = school_data_complete.groupby(["school_name"])

# total student count from each school
student_count = school_name_df["Student ID"].nunique()
 
# total budget each school
total_school_budget = school_name_df["budget"].unique()

# per student budget
per_stu_budget = total_school_budget / student_count

# average math score
avg_math_score_per_group = school_name_df["math_score"].mean()

# average reading score
avg_reading_score_per_group = school_name_df["reading_score"].mean()

# number of students who passed
passed_math = (school_data_complete["math_score"]>=70).count()
passed_math

# percent passed per school
percent_passed_math_per = passed_math.groupby(["school_name"].count()["student_name"]/passed_math * 100
percent_passed_math_per


# summary dataframe
#school_summary_df = pd.DataFrame({"Type": type, "Total Students": })

SyntaxError: invalid syntax (1533601651.py, line 27)