# School District Analysis - Pandas Challenge
   > Perform data analysis of district-wide standardized test results of a city's schools, and aggregate the data to showcase obvious trends in school performance which can be useful in making strategic decisions regarding future school budgets and priorities
---

In [24]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load
school_data = "/Users/anishachaudhari/data_science/Challenges/PyCitySchools/Resources/schools_complete.csv"
student_data = "/Users/anishachaudhari/data_science/Challenges/PyCitySchools/Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_df = pd.read_csv(school_data)
student_df = pd.read_csv(student_data)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_df, school_df, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

 ---
## District Summary

In [2]:
# Count number of unique schools in the DataFrame
total_schools = school_data_complete["school_name"].nunique()


# Display the summary
total_schools

15

In [3]:
# Count number of students 
total_students = school_data_complete["Student ID"].nunique()


# Display the summary
total_students

39170

In [4]:
# Make a list of all the unique budgets
budget_list = school_data_complete["budget"].unique()


# Calculate total budget
total_budget = budget_list.sum()


# Display total budget
total_budget

24649428

In [5]:
# Average math score
avg_math_score = school_data_complete["math_score"].mean()

# Display average math score
avg_math_score

78.98537145774827

In [6]:
# Average reading score
avg_reading_score = school_data_complete["reading_score"].mean()

# Display average reading score
avg_reading_score

81.87784018381414

In [7]:
# Calculate the percentage of students with a passing math score (70 or greater)
stu_pass_math = len(school_data_complete[school_data_complete["math_score"]>=70])
percent_pass_math = (stu_pass_math/total_students)*100
#percent_pass_format = "{:,.2f} %".format(percent_pass_calc)
#percent_pass_math = pd.DataFrame({"% Students Passing Math":[percent_pass_format]})
percent_pass_math

74.9808526933878

In [8]:
# Calculate the percentage of students with a passing reading score (70 or greater)
stu_pass_read = len(school_data_complete[school_data_complete["reading_score"]>=70])
percent_pass_read = (stu_pass_read/total_students)*100
#percent_pr_format = "{:,.2f} %".format(percent_pr_calc)
#percent_pass_read = pd.DataFrame({"% Students Passing Reading":[percent_pr_format]})
percent_pass_read

85.80546336482001

In [9]:
# Calculate total number of students who passed both math and reading
total_passed_both = school_data_complete[(school_data_complete["math_score"] >=70) 
                                         & (school_data_complete["reading_score"] >=70)]
pass_both_id = total_passed_both["Student ID"].count()
pass_percentage_both = (pass_both_id / total_students)*100
pass_percentage_both

65.17232575950983

In [10]:
# Create dataframe to hold the above results
district_summary_df = [{
        "Total Schools":total_schools, 
        "Total Students": total_students, 
        "Total Budget": total_budget,
        "Average Math Score": avg_math_score, 
        "Average Reading Score": avg_reading_score,
        "% Passing Math": percent_pass_math,
        "% Passing Reading": percent_pass_read,
        "% Overall Passing": pass_percentage_both}]
district_summary_df = pd.DataFrame(district_summary_df)
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

In [11]:
# Optional: give the displayed data cleaner formatting

district_summary_df["Total Budget"] = district_summary_df["Total Budget"].map("$ {:,}".format)
district_summary_df["Average Math Score"] = district_summary_df["Average Math Score"].map("{:,.2f}".format)
district_summary_df["Average Reading Score"] = district_summary_df["Average Reading Score"].map("{:,.2f}".format)
district_summary_df["% Passing Math"] = district_summary_df["% Passing Math"].map("{:,.2f} %".format)
district_summary_df["% Passing Reading"] = district_summary_df["% Passing Reading"].map("{:,.2f} %".format)
district_summary_df["% Overall Passing"] = district_summary_df["% Overall Passing"].map("{:,.2f} %".format)

# Display cleaner formatting
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,"$ 24,649,428",78.99,81.88,74.98 %,85.81 %,65.17 %

---
## School Summary
> Create an overview table that summarizes key metrics about each school, including:
   > School Name,
   > School Type,
   > Total Students,
   > Total School Budget,
   > Per Student Budget,
   > Average Math Score,
   > Average Reading Score,
   > % Passing Math,
   > % Passing Reading,
   > % Overall Passing (The percentage of students that passed math and reading.),
   > Create a dataframe to hold the above results

In [23]:
# School name
school_name_df = school_data_complete.groupby(["school_name"])

# School type
school_type = school_name_df["type"].max()

# total student count from each school
student_count = school_name_df["Student ID"].nunique()
 
# total budget each school
total_school_budget = school_name_df["budget"].max()

# per student budget
per_stu_budget = total_school_budget / student_count

# average math score
avg_math_score = school_name_df["math_score"].mean()

# average reading score
avg_reading_score = school_name_df["reading_score"].mean()

# % passing math
passed_math = school_data_complete[school_data_complete["math_score"] >= 70].groupby("school_name")["Student ID"].count()
percent_passed_math = (passed_math/student_count)*100

# % passing reading
passed_reading = school_data_complete[school_data_complete["reading_score"] >= 70].groupby("school_name")["Student ID"].count()
percent_passed_reading = (passed_reading/student_count)*100

# % overall passing / % of students passed both math and reading
passed_both = school_data_complete[(school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)].groupby("school_name")["Student ID"].nunique()
percent_passed_both = (passed_both/student_count)*100

# create dataframe to hold the above results
school_summary_df = pd.DataFrame({
    "School Type":school_type,
    "Total Students":student_count,
    "Total School Budget":total_school_budget,
    "Per Student Budget":per_stu_budget,
    "Average Math Score":avg_math_score,
    "Average Reading Score":avg_reading_score,
    "% Passing Math":percent_passed_math,
    "% Passing Reading":percent_passed_reading,
    "% Overall Passing":percent_passed_both

})

# use map to format all the columns
school_summary_df = school_summary_df
school_summary_df["Total School Budget"] = school_summary_df["Total School Budget"].map("$ {:,}".format)
school_summary_df["Per Student Budget"] = school_summary_df["Per Student Budget"].map("$ {:,.0f}".format)
school_summary_df["Average Math Score"] = school_summary_df["Average Math Score"].map("{:,.2f}".format)
school_summary_df["Average Reading Score"] = school_summary_df["Average Reading Score"].map("{:,.2f}".format)
school_summary_df["% Passing Math"] = school_summary_df["% Passing Math"].map("{:.2f} %".format)
school_summary_df["% Passing Reading"] = school_summary_df["% Passing Reading"].map("{:.2f} %".format)
school_summary_df["% Overall Passing"] = school_summary_df["% Overall Passing"].map("{:.2f} %".format)

# !*!*!*!*!*!*!*!*!*!*!*!**!*!*!*! come back to fix formating issue due to total_budget !*!*!*!*!*!*!*!*!*!*!*!**!*!*!*!

school_summary_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Bailey High School,District,4976,"$ 3,124,928",$ 628,77.05,81.03,66.68 %,81.93 %,54.64 %
Cabrera High School,Charter,1858,"$ 1,081,356",$ 582,83.06,83.98,94.13 %,97.04 %,91.33 %
Figueroa High School,District,2949,"$ 1,884,411",$ 639,76.71,81.16,65.99 %,80.74 %,53.20 %
Ford High School,District,2739,"$ 1,763,916",$ 644,77.10,80.75,68.31 %,79.30 %,54.29 %
Griffin High School,Charter,1468,"$ 917,500",$ 625,83.35,83.82,93.39 %,97.14 %,90.60 %
Hernandez High School,District,4635,"$ 3,022,020",$ 652,77.29,80.93,66.75 %,80.86 %,53.53 %
Holden High School,Charter,427,"$ 248,087",$ 581,83.80,83.81,92.51 %,96.25 %,89.23 %
Huang High School,District,2917,"$ 1,910,635",$ 655,76.63,81.18,65.68 %,81.32 %,53.51 %
Johnson High School,District,4761,"$ 3,094,650",$ 650,77.07,80.97,66.06 %,81.22 %,53.54 %
Pena High School,Charter,962,"$ 585,858",$ 609,83.84,84.04,94.59 %,95.95 %,90.54 %
Rodriguez High School,District,3999,"$ 2,547,363",$ 637,76.84,80.74,66.37 %,80.22 %,52.99 %
Shelton High School,Charter,1761,"$ 1,056,600",$ 600,83.36,83.73,93.87 %,95.85 %,89.89 %
Thomas High School,Charter,1635,"$ 1,043,130",$ 638,83.42,83.85,93.27 %,97.31 %,90.95 %
Wilson High School,Charter,2283,"$ 1,319,574",$ 578,83.27,83.99,93.87 %,96.54 %,90.58 %
Wright High School,Charter,1800,"$ 1,049,400",$ 583,83.68,83.95,93.33 %,96.61 %,90.33 %

 ---
## Top Performing Schools (By % Overall Passing)
   > Sort and display the top five performing schools by % overall passing

In [20]:
top_perform_schools = school_summary_df.sort_values("% Overall Passing", ascending=False)
top_perform_schools[:5]

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Cabrera High School,Charter,1858,"$ 1,081,356",$ 582,83.06,83.98,94.13 %,97.04 %,91.33 %
Thomas High School,Charter,1635,"$ 1,043,130",$ 638,83.42,83.85,93.27 %,97.31 %,90.95 %
Griffin High School,Charter,1468,"$ 917,500",$ 625,83.35,83.82,93.39 %,97.14 %,90.60 %
Wilson High School,Charter,2283,"$ 1,319,574",$ 578,83.27,83.99,93.87 %,96.54 %,90.58 %
Pena High School,Charter,962,"$ 585,858",$ 609,83.84,84.04,94.59 %,95.95 %,90.54 %

---
## Bottom Performing Schools (By % Overall Passing)
   > Sort and display the five worst-performing schools by % overall passing

In [25]:
bottom_perform_schools = school_summary_df.sort_values("% Overall Passing", ascending=True)
bottom_perform_schools[:5]

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Rodriguez High School,District,3999,"$ 2,547,363",$ 637,76.84,80.74,66.37 %,80.22 %,52.99 %
Figueroa High School,District,2949,"$ 1,884,411",$ 639,76.71,81.16,65.99 %,80.74 %,53.20 %
Huang High School,District,2917,"$ 1,910,635",$ 655,76.63,81.18,65.68 %,81.32 %,53.51 %
Hernandez High School,District,4635,"$ 3,022,020",$ 652,77.29,80.93,66.75 %,80.86 %,53.53 %
Johnson High School,District,4761,"$ 3,094,650",$ 650,77.07,80.97,66.06 %,81.22 %,53.54 %

---
## Math Scores by Grade
   > Create a table that lists the average math score for students of each grade level (9th, 10th, 11th, 12th) at each school.

   > Create a pandas series for each grade. Hint: use a conditional statement.

   > Group each series by school

   > Combine the series into a dataframe

   > Optional: give the displayed data cleaner formatting

In [ ]:
# Create a table that lists the average math score for students of each grade level (9th, 10th, 11th, 12th) at each school
math_grade_school = school_data_complete[["school_name", "grade", "math_score"]]

In [ ]:
# Create a pandas series for each grade. Hint: use a conditional statement.
ninth = school_data_complete.loc

In [ ]:
# Group each series by school

In [ ]:
# Combine the series into a dataframe

In [ ]:
# Optional: give the displayed data cleaner formatting